/* Global Variables */
:root {
  --primary-color: #004d00; /* Green for nature, river */
  --secondary-color: #ffcc00; /* Golden yellow */
  --font-family: 'Arial', sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

main {
  padding: 20px;
}

#hero img {
  width: 100%;
  height: auto;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  header h1 {
      font-size: 1.5em;
  }
  #hero img {
      height: 250px;
  }
}

@media (min-width: 769px) {
  #hero img {
      height: 500px;
  }
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
