/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Hero Section Styles */
.hero {
  background-color: #2196f3;
  padding: 30px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
}

/* Data Section Styles */
.data {
  padding: 20px;
  background-color: #fff;
}

.data-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #ececec;
  padding: 15px;
  margin: 10px;
  flex: 1;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Weather Section Styles */
.weather {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

#weather-icon-svg {
  display: none;
}

#weather-text {
  font-size: 1.2rem;
}

/* Footer Styles */
footer {
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Mobile View Styles */
@media (max-width: 767px) {
  /* Hide desktop image */
  .hero-image[srcset="images/rajahmundry-large.webp"] {
    display: none;
  }

  /* Show SVG weather icon */
  #weather-icon-svg {
    display: block;
  }
}

/* Desktop View Styles */
@media (min-width: 768px) {
  .hero-image {
    display: block;
  }
  #weather-icon-svg {
    display: none;
  }
}
